*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================ VAR ROOT CSS ============= */

:root{
    --col-sl-1: calc(100% / 12 * 1);
    --col-sl-2: calc(100% / 12 * 2);
    --col-sl-3: calc(100% / 12 * 3);
    --col-sl-4: calc(100% / 12 * 4);
    --col-sl-5: calc(100% / 12 * 5);
    --col-sl-6: calc(100% / 12 * 6);
    --col-sl-7: calc(100% / 12 * 7);
    --col-sl-8: calc(100% / 12 * 8);
    --col-sl-9: calc(100% / 12 * 9);
    --col-sl-10: calc(100% / 12 * 10);
    --col-sl-11: calc(100% / 12 * 11);
    --col-sl-12: calc(100% / 12 * 12);
    --ffR: 'Roboto', sans-serif;
    --ffM: 'Montserrat', sans-serif;
}

/*  ============== MEDIA QUERY ===============  */

/* ======= 1920px ======= */

@media (max-width: 1920px) {
    .container-sl {
        max-width: 1560px;
        width: 100%;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .row-sl{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-sl-1{
        width: var(--col-sl-1);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-2{
        width: var(--col-sl-2);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-3{
        width: var(--col-sl-3);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-4{
        width: var(--col-sl-4);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-5{
        width: var(--col-sl-5);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-6{
        width: var(--col-sl-6);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-7{
        width: var(--col-sl-7);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-8{
        width: var(--col-sl-8);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-9{
        width: var(--col-sl-9);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-10{
        width: var(--col-sl-10);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-11{
        width: var(--col-sl-11);
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sl-12{
        width: var(--col-sl-12);
        padding-left: 15px;
        padding-right: 15px;
    }
    /* ============== HEADER START =============== */


    /* ====== header_top ====== */

    header .header_top {
        padding-top: 20px;
        padding-bottom: 16px;
    }
    header .header_top .top-left{
        display: flex;
        align-items: center;
    }
    header .header_top .top-left select{
        border: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #333333;
        margin-left: 48px;
    }
    header .header_top .top-left .work_time{
        margin-left: 77px;
    }
    header .header_top .top-left .work_time p{
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #333333;
    }
    header .header_top .top-left .work_time span{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #1267B0;
    }
    header .header_top .top-left .phones{
        margin-left: 84px;
    }
    header .header_top .top-left .phones p,
    header .header_top .top-left .phones span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #333333;
        margin: 0;
    } 
    header .header_top .top-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    header .header_top .top-right .call1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #0069AB;
        padding: 5px 10px;
        border: 1px solid #0069AB;
        border-radius: 5px;
        text-decoration: none;
    }
    header .header_top .top-right .call2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #0069AB;
        padding: 5px 10px;
        border: 1px solid #0069AB;
        border-radius: 5px;
        text-decoration: none;
        margin-right: 60px;
    }
    header .header_top .top-right .icons a{
        color: #0069AB;
        text-decoration: none;
        font-size: 21px;
        position: relative;
    }
    header .header_top .top-right .icons a::after{
        content: "12";
        position: absolute;
        color: #f9fafb;
        font-size: 11px;
        top: 13px;
        left: 13px;
        background: red;
        border-radius: 5px;
        padding: 2px;

    }
    header .header_top .top-right .user {
        margin-left: 32px;
        display: flex;
    }
    header .header_top .top-right .user .user-left .name{
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #333333;
    }
    header .header_top .top-right .user .user-left .bal{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FF8400;
    }
    header .header_top .top-right .user .user_img{
        background: #0069AB;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-left: 8px;
    }

    /* ====== header_nav ====== */

    header .header_nav .header_nav_top {
        background: #ECF3F9;
        padding: 18px 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    header .header_nav .header_nav_top a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #000000;
        margin-right: 62px;
        text-decoration: none;
    }
    header .header_nav .header_nav_top a i{
        color: #0069AB;
        margin-right: 14px;
    }
    header .header_nav .header_nav_bottom {
        background: #0069AB;
        padding: 8px 0;
    }
    header .header_nav .header_nav_bottom .fa-expand {
        width: 20px;
        height: 20px;
        color: white;
    }
    header .header_nav .header_nav_bottom .catalog{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 15px;
    }
    header .header_nav .header_nav_bottom input{
        width: 100%;
        border-radius: 5px; 
        border: none;
        background: white;
        padding: 14px 10px;
        resize: none;
    }
    header .header_nav .header_nav_bottom .link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
        background: #FF8400;
        padding: 14px 24px;
        border-radius: 5px;
    }
    header .header_nav .header_nav_bottom .sale{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
    } 
    header .header_nav .header_nav_bottom .stock{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
    }

    /* ====== header_bottom ====== */
    header .header_bottom{
        margin-top: 38px;
    }
    header .header_bottom .title{
        background: linear-gradient(to right, #0069AB, #9CD1FF);
        padding: 15px 0;
    }
    header .header_bottom .title h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        margin: 64px 0 64px 54px;
        line-height: 34px;
    }
    header .header_bottom .title-foot{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        margin: 0;
        margin-top: 31px;
        margin-bottom: 38px;
    } 
    header .header_bottom  .title-foot span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        display: inline-block;
    }
    header .header_bottom .accordion .accordion-item{
        border: none;
        background: #ECF3F9;
    }
    header .header_bottom .accordion .accordion-item .accordion-header  .accordion-button{
        background: #ECF3F9;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        box-shadow: 0;
    }
    header .header_bottom .accordion .accordion-item .accordion-header  .accordion-button span{
        margin-left: 19px;
        margin-right: 3px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body{
        padding: 0;
        padding: 0 15px 15px 15px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .line{
        margin-top: 0;
        margin-bottom: 16px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .line2{
        margin: 16px 0;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field h4{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category{
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category .sale{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        margin-right: 50px; 
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category .sale2{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        margin-right: 28px; 
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category .pagination{
        margin: 0;
        padding: 0;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category .pagination .page-item .first{
        background: #D8DBDD;
        color: #686B74;
        padding: 5px 7px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category .pagination .page-item .second {
        background: #ECF3F9;
        color: #686B74;
        padding: 5px 7px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category .pagination .page-item .third {
        background: #B2D0E8;
        color: #333333;
        padding: 5px 7px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field .category a .fa-trash-can{
        color: #686B74;
        font-size: 20px;
        margin-left: 8px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field-price .price{
        display: flex;
        align-items: center;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field-price .price p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        margin: 0;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field-price .price a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #FF8400;
        text-decoration: none;
        margin-left: 10px;
    }
    header .header_bottom .accordion .accordion-item .accordion-collapse .accordion-body .field-price .price-link{
        background: #FF8400;
        border: 1px solid #FF8400;
        border-radius: 4px;
        width: 100%;
        padding: 14px 30px;
        text-decoration: none;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 20px;
    }
    header .header_bottom .field-bottom{
        margin-top: 30px;
        padding-left: 15px;
    }
    header .header_bottom .field-bottom a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #0069AB;
        text-decoration: none;
    }
    header .header_bottom .field-bottom a .fa-money-check,
    header .header_bottom .field-bottom a .fa-sack-dollar{
        margin-right: 20px;
    }
    header .header_bottom .field-bottom p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        margin: 0;
        margin-left: 40px;
        margin-bottom: 16px;
    }
    header .header_bottom .field-bottom .evaluate {
        display: flex;
        border: 2px solid #FFCE0D;
        padding: 16px;
        margin-top: 20px;
        align-items: center;
    }
    header .header_bottom .field-bottom .evaluate a{
        color: #FF8400;

    }
    
    

}
